<% include partials/header %>

  

<link rel="stylesheet" type="text/css" href="app.css">



<h1>This is the homepage</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Huskiesatrest.jpg/220px-Huskiesatrest.jpg">


<% include partials/footer %>
